
# Data Science Fundamentals - Python Pandas 4

> **Learning Objectives:**
> * ðŸ§  Understand the concepts of data types,imputation of missing data, and merging

### Introduction to Python and Data Science Related Packages
- Pandas

## 1. Data Types

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("wine_reviews.csv", low_memory=False, index_col=0)

#### Groupby function

In [ ]:
df.dtypes

In [ ]:
df['price'].dtype

In [ ]:
# change to str
df['price_str'] = df['price'].astype(str)

In [ ]:
df.head()

## 2. Missing Values

In [ ]:
df[df['price'].isnull()]

In [ ]:
# fill NaN with zero
df['price2'] = df['price'].fillna(0)

In [ ]:
# fill with mean/median/mode
df['price3'] = df['price'].fillna(df['price'].mean())
df['price4'] = df['price'].fillna(df['price'].median())
df['price5'] = df['price'].fillna(df['price'].mode()[0])

In [ ]:
# forward fill
df['price6'] = df['price'].ffill()

In [ ]:
# backward fill
df['price6'] = df['price'].bfill()

In [ ]:
# drop
df = df.dropna(subset=['price'])

In [ ]:
df[df['price']=='NaN']

## 3. Combining

In [ ]:
# one to one joins
employee_group = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering',
                              'Engineering', 'HR']})
employee_hire_date = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

In [ ]:
employee_group.head()

In [ ]:
employee_hire_date.head()

In [ ]:
# join - automatically joins using the employee name column as a key
merged_1= pd.merge(employee_group, employee_hire_date)
merged_1

In [ ]:
# another way to join
merged_1 = employee_group.merge(employee_hire_date, on=['employee'], how='inner')
merged_1.head()

In [ ]:
# Many to one joins
supervisor = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
supervisor.head()

In [ ]:
merged_2 = pd.merge(merged_1, supervisor)
merged_2

In [ ]:
# Many to Many joins
skills = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'software', 'math',
                               'spreadsheets', 'organization']})
skills.head()

In [ ]:
merged_3= pd.merge(merged_2, skills)
merged_3

In [ ]:
# different names
employee_hire_date = pd.DataFrame({'name': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

In [ ]:
merged_1 = employee_group.merge(employee_hire_date, left_on="employee", right_on="name")
merged_1.head()

In [ ]:
merged_1= merged_1.drop('name', axis=1)
merged_1

# To-Dos

### 1. What is the data type of the points column in the dataset?

### 2. How many reviews in the dataset are missing points?

### 3. Join employee_group table with Salary table below

### 4. Merge supervisor, skills, and salary tables